body {
	background-color: #f8f9fa;
	min-height: 100vh;
}

#hiddenrow {
	margin-bottom: 30px;
}

nav a {
	transition: 0.5s;
}

nav.navbar .navbar-brand {
	color: rgba(0,0,0,.7);
}

p > a {
	transition: 0.5s;
}

p > a:hover {
	text-decoration: none;
}

.img-circle {
	border-radius: 100%;
}

.navbar {
	margin-bottom: 40px;
	text-align: center;
}

@media (min-width: 576px) {
	.navbar {
		margin-top: 30px;
	}
}

.social .social-icon {
	width: 1.2em;
	height: 1.2em;
	fill: rgba(0,0,0,.3);
	transition: 0.5s;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

@media (max-width: 575px) {
	.social .social-icon {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
}

.social .social-icon:hover {
	fill: rgba(0,0,0,.5);
}

.footer {
	background-color: #f5f5f5;
	width: 100%;
	transition: .5s;
}

.footer:hover {
	background-color: #f0f0f0;
}