body {
	background-color: #f8f9fa;
	min-height: 100vh;
}

#hiddenrow {
	margin-bottom: 30px;
}

nav a {
	transition: 0.5s;
}

p > a {
	transition: 0.5s;
}

p > a:hover {
	text-decoration: none;
}

.img-circle {
	border-radius: 100%;
}

.navbar {
	margin-bottom: 40px;
	text-align: center;
}

@media (min-width: 576px) {
	.navbar {
		margin-top: 30px;
	}
}

.footer {
	background-color: #f5f5f5;
	width: 100%;
	transition: .5s;
}

.footer:hover {
	background-color: #f0f0f0;
}