body {
	background-color: #f8f9fa;
}

#hiddenrow {
	margin-bottom: 30px;
}

nav a {
	transition: 0.5s;
}

p > a {
	transition: 0.5s;
}

p > a:hover {
	text-decoration: none;
}

nav .collapse {
	text-align: center;
}

.img-circle {
	border-radius: 100%;
}

.navbar {
	margin-bottom: 40px;
}

@media (min-width: 576px) {
	.navbar {
		margin-top: 40px;
	}
}