<footer class="footer row mx-0">
	<div class="col-12 text-center pb-1 pt-3 social d-flex d-sm-block">
		<a href="mailto:will@wmonahan.com" class="social-link col" id="mail"><i class="fas fa-envelope"></i></a>
		<a href="https://github.com/willmonahan/" class="social-link col" id="github"><i class="fab fa-github"></i></a>
		<a href="https://www.linkedin.com/in/will-monahan-19a179101/" class="social-link col" id="linkedin"><i class="fab fa-linkedin"></i></a>
		<a href="https://fb.me/willmonahan/" class="social-link col" id="facebook"><i class="fab fa-facebook-square"></i></a>
		<a href="https://twitter.com/willmonahan13/" class="social-link col" id="twitter"><i class="fab fa-twitter"></i></a>
		<a href="https://instagram.com/willmonahan13/" class="social-link col" id="instagram"><i class="fab fa-instagram"></i></use></svg></a>
		<a href="https://open.spotify.com/user/willmonahan?si=NY-Oem7KQRKeP8ngN3YqcQ" class="social-link col" id="spotify"><i class="fab fa-spotify"></i></a>
	</div>

	<div class="col-12 text-center pb-3 pt-1">
		<small class="text-muted">&copy; Will Monahan 2018</small>
	</div>
</footer>